{% extends "layout.html" %}
{% block body %}

<div class="categories">
    <h2 class="hero-unit title">Categories</h2>
    <ul class="clean-list">
    {% for category in categories %}
        <li><a
                href="{{ url_for('show_category', category_id=category.id) }}">{{
            category.name
            }}</a></li>
    {% endfor %}
        <li><a
                href="{{ url_for('new_category') }}"><span class="new">+
            category</span></a></li>
    </ul>
</div>
<div class="items">
    <h2 class="hero-unit title">Latest Items</h2>
    <ul class="clean-list">
    {% for item in items %}
        <li><a href="item/{{ item.id }}">{{
            item.title
            }}</a>
            <span class="subtitle">({{ item.category.name }})</span></li>
    {% endfor %}
        <li><a
                href="{{ url_for('new_item') }}"><span class="new">+ item
        </span></a></li>
    </ul>
</div>

{% endblock %}}