{% extends "layout.html" %}
{% block head %}

<script src="https://apis.google.com/js/client:platform.js?onload=start"
        async defer></script>
{% endblock %}

{% block body %}


<div id="signInButton">
  <span class="g-signin"
    data-scope="openid email"
    data-clientid="675366554281-piloe8bnekq3e3t1cukes6qdtfhh8seo.apps.googleusercontent.com"
    data-redirecturi="postmessage"
    data-accesstype="offline"
    data-cookiepolicy="single_host_origin"
    data-callback="signInCallback"
    data-approvalprompt="force">
  </span>
</div>
<div id="result">

</div>

<script>
  function signInCallback(authResult){
    if(authResult['code']){

        // Need to hide the signInButton since the user is logged in.
        $('#signInButton').attr('style', 'display: None');

        $.ajax({
            type: 'POST',
            url: '/gconnect?csrf_token={{ csrf_token }}',
            processData: false,
            contentType: 'application/octet-stream; charset=utf-8',
            data:authResult['code'],
            success: function (result) {
                if(result){
                  window.location.href = '/';
                } else if(authResult['error']){
                    console.log('There was an error: ' + authResult['error']);

                } else {
                    $('#result').html('Failed to make server call. Check' +
                        ' your configuration and console.')
                }
            }

        });
    }
}
</script>
{% endblock %}}